<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM HTML</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="Test.css">

</head>

<body>

    <form>
        <fieldset>
            <legend>Tag: form, fieldset, legend</legend>
        </fieldset>
    </form>

    <br>

    <form>
        <fieldset>
            Tag: fieldset
        </fieldset>
    </form>

    <br>

    <form>
        <fieldset id="width-fieldset">
            <legend>
                <label for="firstname">Firstname</label>
                <input type="text" placeholder="Enter You FirstName"><br>
                <label for="lastname">Lastname</label>
                <input type="text" placeholder="Enter You LastName"><br>
                <label for="Gender">Select Gender</label>

                <!-- ประเภพ input -->

                <input type="radio" name="Gender" value="memale" checked> Memale
                <input type="radio" name="Gender" value="female"> Female <br>
                <input type="checkbox" value="Value1" name="Value1"> CheckBok 1
                <input type="checkbox" value="Value2" name="Value2"> CheckBok 2
                <input type="checkbox" value="Value3" name="Value3"> CheckBok 3
                <br>
                <input type="submit" value="Button"> Check Submit
            </legend>
        </fieldset>
    </form>

    <br>

    <h1>Block Elements</h1>

    <div class="Block1">Block Elements 1 </div>
    <div class="Block2">Block Elements 2 </div>
    <p id="Block-inline">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium, est?</p>

    <h1>InLine Elements</h1>

    <a href="#" class="Inline1">inLine elements 1</a>
    <a href="#" class="Inline2">inLine elements 2</a>
    <span class="span-inline">Span Block Chice, ipsum dolor.</span>

</body>


</html>