* {
    font-family: Arial, Helvetica, sans-serif;
}

#width-fieldset {
    height: 300px;
    width: 33%;
}

.Inline1 {
    border: 3px solid red;
    color: black;
}

.Inline2 {
    border: 3px solid blue;
    color: black;
}

.Block1 {
    border: 3px solid yellow;
}

.Block2 {
    border: 3px solid yellowgreen;
}

#Block-inline {
    border: 1px solid red;
}

.span-inline {
    border: 1px solid peru;
}