* {
    background-color: whitesmoke;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.f-s {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: black;
    margin-top: 35px;
}

.box1-color {
    background-color: rgb(170, 42, 42);
    /* color: black; */
}

.box2-hsl {
    background-color: hsl(293, 100%, 34%);
}

.box3-rgb {
    background-color: rgb(49, 129, 87);
}

.box4-rgba {
    background-color: rgba(90, 178, 117, 100);
}